<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{partials/_navbar :: navbar}"></div>
<div class="container mt-4">
    <h2 th:text="${formTitle}">Empresa</h2>
    <form th:action="@{${formAction}}" th:object="${empresa}" method="post">
        <input type="hidden" th:if="${empresa.id != null}" th:field="*{id}" />

        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}">Nome Error</p>
        </div>
        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}" required>
            <p th:if="${#fields.hasErrors('cnpj')}" th:errorclass="error" th:errors="*{cnpj}">CNPJ Error</p>
        </div>
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" th:field="*{endereco}" required>
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" th:field="*{telefone}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
        </div>

        <div class="mb-3" th:if="${empresa.id == null}">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" th:field="*{senha}" required />
            <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Senha Error</p>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${submitButtonLabel}">Enviar</button>
    </form>
</div>
</body>
</html>
