<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Candidatos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div th:replace="~{partials/_navbar :: navbar}"></div>
	<div class="container mt-4">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Candidatos</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="candidato : ${oferta.getCandidaturas()}">
					<td><a th:href="@{/aluno/ficha/{id}(id=${candidato.getId()})}"
						th:text="${candidato.getNome()}"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
